<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "de" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">

    <!-- Roboto Font - Selbst gehostet (DSGVO-konform) -->
    <link rel="stylesheet" href="/fonts/fonts.css">

    <!-- Main Stylesheet -->
    {{ $style := resources.Get "css/main.css" }}
    {{ if $style }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}

    {{ block "head" . }}{{ end }}
</head>
<body>
    {{ partial "header.html" . }}

    <main class="main-content">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $js := resources.Get "js/main.js" }}
    {{ if $js }}
    <script src="{{ $js.Permalink }}"></script>
    {{ end }}
</body>
</html>
