/* Roboto Font - Selbst gehostet (DSGVO-konform) */
/* Lade die Schriften von: https://gwfh.mranftl.com/fonts/roboto?subsets=latin */
/* Empfohlene Varianten: 400 (regular), 500 (medium), 700 (bold) */

/* Roboto Regular (400) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('/fonts/roboto-v50-latin-regular.woff2') format('woff2');
}

/* Roboto Medium (500) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url('/fonts/roboto-v50-latin-500.woff2') format('woff2');
}

/* Roboto Bold (700) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url('/fonts/roboto-v50-latin-700.woff2') format('woff2');
}

/* Roboto Italic (400) - Optional */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'),
       local('Roboto-Italic'),
       url('/fonts/roboto-v50-latin-italic.woff2') format('woff2');
}
